<section>
  <div class="page-header">
    <h1>{{vm.staff._id ? 'Edit Staff' : 'New Staff'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.staffForm" class="form-horizontal" ng-submit="vm.save(vm.form.staffForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="staffnum">Staff Number</label>
          <input name="staffnum" type="number" ng-model="vm.staff.staffnum" id="staffnum" class="form-control" placeholder="Staff-Number" required>
          <div ng-messages="vm.form.staffForm.staffnum.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff Number is required.</p>
          </div>
           <div class="form-group" show-errors>
          <label class="control-label" for="firstname">First Name</label>
          <div class="col-sm-10">
          <input name="firstname" type="text" ng-model="vm.staff.firstname" id="firstname" class="form-control" placeholder="FirstName" required>
          </div>
          <div ng-messages="vm.form.staffForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff First Name is required.</p>
          </div>
           <div class="form-group" show-errors>
          <label class="control-label" for="lastname">Last Name</label>
           <div class="col-sm-10">
          <input name="lastname" type="text" ng-model="vm.staff.lastname" id="lastname" class="form-control" placeholder="LastName" required>
          </div>
          <div ng-messages="vm.form.staffForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff Last Name is required.</p>
          </div>
           <div class="form-group" show-errors>
          <label class="control-label" for="position">Position</label>
          <input name="position" type="text" ng-model="vm.staff.position" id="position" class="form-control" placeholder="Position" required>
          <div ng-messages="vm.form.staffForm.position.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff Position is required.</p>
          </div>
           <div class="form-group" show-errors>
          <label class="control-label" for="phoneNumber">Phomne Number</label>
          <input name="phoneNumber" type="number" ng-model="vm.staff.phoneNumber" id="phoneNumber" class="form-control" placeholder="PhoneNumber" required>
          <div ng-messages="vm.form.staffForm.phoneNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff Phone Number is required.</p>
          </div>
           <div class="form-group" show-errors>
          <label class="control-label" for="department">Department</label>
          <input name="department" type="text" ng-model="vm.staff.department" id="department" class="form-control" placeholder="Department" required>
          <div ng-messages="vm.form.staffForm.department.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff Department is required.</p>
          </div>
           <div class="form-group" show-errors>
          <label class="control-label" for="faculty">Faculty</label>
          <input name="faculty" type="text" ng-model="vm.staff.faculty" id="faculty" class="form-control" placeholder="Faculty" required>
          <div ng-messages="vm.form.staffForm.faculty.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Staff Facaulty is required.</p>
          </div>
          
          <div class="list-group">
          <span ng-repeat="courses in vm.allcourses"  class="list-group-item">
           <input type="checkbox" data-checklist-model="vm.staff.courses" data-checklist-value="courses.title">
          <h4 class="list-group-item-heading" ng-bind="courses.title"></h4>
          </span>
          </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.staff._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
