<section>
 <div class="page-header">
    <h1>Staffs</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="staff in vm.staffs"
       data-ui-sref="staffs.view({ staffId: staff._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="staff.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="staff.user" data-ng-bind="staff.user.displayName"></span>
        <span data-ng-if="!staff.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading">
      <span data-ng-bind="staff.firstname"></span> <span class="list-group-item-heading" data-ng-bind="staff.lastname"></span></h4>
      <p>
     Email: <span class="list-group-item-text" data-ng-bind="staff.email"></span> | 
      Phone Number: <span class="list-group-item-text" data-ng-bind="staff.mobtel"></span></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.staff.$resolved && !vm.staff.length">
    No Staffs yet, why don't you <a data-ui-sref="staffs.create">create one</a>?
  </div>
</section>
