<section>
  <div class="page-header">
    <h1>
      <span data-ng-bind="vm.staff.firstname"></span>
    </h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.staff.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="staffs.edit({ staffId: vm.staff._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
<label class="control-label">Courses</label>
  <div class="list-group">
    <a data-ng-repeat="course in staffCourses"
       data-ui-sref="courses.view({ courseId: course._id })"
       class="list-group-item">
     
      <h4 class="list-group-item-heading">{{course.title}}</h4>
    </a>
  </div>

  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.staff.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.staff.user"
            data-ng-bind="vm.staff.user.displayName"></span>
      <span data-ng-if="!vm.staff.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.staff.content"></p>
</section>